<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<meta name="description" content="{{site.description}}">

    {{#include.css}}
      <link rel="stylesheet" href="{{site.base-url}}{{.}}" type="text/css">
    {{/include.css}}
</head>

