<header>
	<!-- Homepage Title -->
	<a href="{{site.base-url}}" style="float: left;color:#ff3b30;font-weight: bold">
    {{site.name}}
    </a>

	<!-- Navigation Pages -->
    {{#site.nav-links}}
        &nbsp;&nbsp;
        <a href="{{site.base-url}}{{nav-url}}" style="color:#777;">{{nav-name}}</a>
    {{/site.nav-links}}
</header>

