html {
	height: 100%;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

div#container {
	padding: 0rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
	
}

header {
	display: block;
	padding: 1.3rem 0;
	border-bottom: .07em solid #eee;
}

@media all {
	html {
		font-size: 20px;
	}
	div#container > * {
		font-size: 100%;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
}

@media all and (max-width:840px) {
	html {
		font-size: 15px;
	}
	div#container > *  {
		margin-left: 5.5rem;
		margin-right: 5.5rem;
	}
}

@media all and (max-width:760px) {
	div#container > *  {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

@media all and (max-width:580px) {
	body>* {
		margin: .7rem 1.5rem 0 1.5rem;
	}
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.35;
	margin-top: .6em;
	margin-bottom: .6em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1em;
}

h5,
h6 {
	font-size: 0.8em;
}

div#content {
	display: block;
	padding: 1rem 0;
}

@media all and (max-width:520px) {
	div#content {
		padding: 0;
	}
}

footer {
	display: block;
	padding: .5rem 0 5.5rem 0;
	border-top: .07em solid #eee;
}

aside {
	font-size: .9em;
	line-height: .9;
	color: #7a8288;
}

aside em {
	font-size: .7rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.45;
}

ul,
ol {
	margin-bottom: 1em;
	padding-left: 1em;
}

li {
	line-height: 1.75em;
	margin-left: .75em;
	list-style-type: none;
}

table {
	margin-bottom: 1.5rem;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	width: 95%;
}

td,
th {
	text-align: left;
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

img {
	display: block;
	border-radius: 5px;
	max-width: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #777;
}

a:hover {
	color: #0366d6;
}

p a {
	color: #0366d6;
}

code,
pre {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

code {
	padding: .25em .25em;
	background: #f8f8f8;
	font-size: 90%;
	margin-bottom: 20px;
}

pre {
	font-size: .9rem;
	background: #f8f8f8;
	padding: 1em;
	margin-bottom: 20px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

figcaption {
	font-weight: 400;
	font-style: italic;
	font-size: .7em/1.52;
	line-height: 1.3;
	color: #666665;
	outline: 0;
	z-index: 300;
	text-align: center;
}

blockquote {
	border-left: 3.5px solid #0594cb;
	margin: .7em 10px;
	padding: .7em 20px;
}

blockquote p {
	display: inline;
}


.notice {
 font-style:italic
}
.notice>div.code {
 font-style:normal
}
.notice a {
 color:#262626
}
.notice a:hover {
 color:#262626
}
.notice .linenos {
 background-color:#d5d5d5
}
.notice-info {
 background-color:#d4dee6;
 color:#176099
}
.notice-info code {
 background-color:rgba(23,96,153,0.2);
 color:#176099
}
.notice-success {
 background-color:#e0e6d3;
 color:#5c800d
}
.notice-success code {
 background-color:rgba(92,128,13,0.2);
 color:#5c800d
}
.notice-warning {
 background-color:#e6e4d4;
 color:#80760d
}
.notice-warning code {
 background-color:rgba(128,118,13,0.2);
 color:#80760d
}
.notice-danger {
 background-color:#e6d4d4;
 color:#99171d
}
.notice-danger code {
 background-color:rgba(153,23,29,0.2);
 color:#99171d
}

.notice {
 overflow:hidden;
 margin:18px 0px;
 padding:0px 18px
}


.api>dd {
 margin:18px;
 margin-right:0px
}
.api>dd>:first-child {
 margin-top:0px
}
.api>dd>:last-child {
 margin-bottom:0px
}
.api>dt {
 margin-top:18px;
 padding:9px
}
.api>dt>strong {
 line-height:18px
}

.api>dt {
 background-color:#e6e6e6;
 font-family:"Envy Code R","Ubuntu Mono",monospace
}
.api>dt>strong {
 font-size:13px
}

#forkme {
    border-bottom-width: 0px;
    transition: all 0s ease 0s;
}
#forkme {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
}
