{{> head}}

<body>

<div id="container">
    {{! Header template }}
    {{> header}}

    {{! Post's content }}
    <div id="content">
        {{#page.title}}<h1>{{page.title}}</h1>{{/page.title}}
        {{{page.content}}}
    </div>

    {{! Footer template }}
    {{> footer}}
</div>
</body>
